<h1>About Us</h1>
<p>Welcome to Sneaker Xchange! Your premiere online source for everything sneakers
  We are an honest reselling sneaker company that prides ourself on delivering
  100% satisfaction guaranteed to our customers. We buy and sell sneakers. Our
  brands consist of Retro Jordans, Nikes, Yeezys, and much more.
</p>
